<%- model_class = Comment -%>
<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:text) %>:</strong></dt>
  <dd><%= best_in_place @comment, :text, :type => :textarea%></dd>
  <dt><strong><%= model_class.human_attribute_name(:ticket_id) %>:</strong></dt>
  <dd><%= @comment.ticket_id %></dd>
	<dt><strong><%= model_class.human_attribute_name(:user_id) %>:</strong></dt>
  <dd><%= @comment.user_id %></dd>
</dl>

<div class="form-actions">
    <%= link_to 'Back <i class="icon-hand-left icon-large"></i>'.html_safe,
              tickets_path, :class => 'btn btn-small'  %>
  <%= link_to 'Edit <i class="icon-edit icon-large"></i>'.html_safe,
              edit_ticket_comment_path(@comment.ticket_id,@comment.id), :class => 'btn btn-small' %>
  <%= link_to 'Delete <i class="icon-trash icon-large"></i>'.html_safe,
              ticket_comment_path(@comment.ticket_id,@comment.id),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-small btn-danger' %>
</div>
