<%- model_class = Department -%>
<div class="controls tabel">
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:code) %></th>
      <th><%= model_class.human_attribute_name(:description) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= link_to department.id, department_path(department) %></td>
        <td><%= department.code %></td>
        <td><%= department.description %></td>
        <td><%=l department.created_at %></td>
        <td>
          <%= link_to '',
                      edit_department_path(department), :class => 'icon-large icon-edit' %>
          <%= link_to '',
                      department_path(department),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'icon-large icon-trash' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

	<div style="display: inline-block; padding :10px">
		 <%= link_to 'New <i class="icon-edit icon-large"></i>'.html_safe,
            		new_department_path,
            		:class => 'btn btn-small' %>
	</div>
</div>
